# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
.gradle/
android/.cxx/
android/local.properties
*.iml
.idea/

# IDE / OS
.vscode/
.DS_Store
